.navbar{
    background-color: #b5914d;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
}

.navbar-logo{
    width: 130px;
}
.whats{
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
}
.arrow{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
.fa-whatsapp{
   color: rgb(68, 199, 20);
}


.section-title-container {
    position: relative;
    display: inline-block;
    height: 15vh;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    background-color: aliceblue;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
    position: relative;
    display: inline-block;
    color: #201e1b; /* Color de inicio */
  
    /* Animación de resaltado */
  }
  @media (min-width:1024px){
    .section-title{
      font-size: 3rem;
    }
  }
  @media (min-width:1440px){
    .section-title{
      font-size: 4rem;
    }
  }


  .row{
    margin:0 ;
    padding: 0;
  }
  
  .container-full{
    background: linear-gradient(to bottom, #010101, #cca643);
    /* display: flex; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}
  
.bg-modelo{
  background: linear-gradient(#ffffff, #060605);
}

.col-lg-6{
  padding: 0 !important ;
}
