.buttons-section {
  padding: 2em 1em;
}

.navigation-buttons {
  display: grid;
  gap: 1.2em;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-items: center;
  margin-top: 1.5em;
}

.btn-primary-hb {
  color: white;
  background: linear-gradient(160deg, #4e4e4e 0%, #000 100%);
  border: none;
  padding: 0.9em 1.6em;
  margin: 0;
  font-size: 1rem;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-primary-hb:hover {
  background: linear-gradient(160deg, #333 0%, #111 100%);
}

.text-center {
  padding-top: 1em !important;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Responsive ajustes */
@media (min-width: 768px) {
  .btn-primary-hb {
    font-size: 1.2rem;
    padding: 1em 2em;
  }

  .text-center {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  .btn-primary-hb {
    font-size: 1.4rem;
    padding: 1.2em 2.5em;
  }

  .text-center {
    font-size: 2rem;
  }
}
