.btn-primary{
    color: white;
    background: rgb(181,145,77);
    background: linear-gradient(183deg, rgb(82 82 82) 39%, rgb(0 0 0) 100%);  
    border: none;
    padding: .5em;
    margin: 1em;
}
.navigation-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}