.img-cards {
    max-height: 65vh;
}
.bg-modelo{
    background-color:   white;
 
}
.bg-modelo1{
    background-color:  white;

}
.info{
    padding-bottom: 2em;
}
.list-group-item{
    background-color:  #b5914d;
    color: #ffffff;
}
.name-model{
    background-color: antiquewhite;
    border-radius: 20px;
}
