
.separator{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
  .separator-text {
    font-size: 3.5rem;
    font-weight: bold;
 
    background-color: #ffffff; /* Ajusta el color de fondo según tu diseño */
    padding: 0 10px; /* Ajusta el espaciado alrededor del texto */
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0; /* Inicialmente establecemos la opacidad a 0 */
    animation: fadeIn 3s forwards; 

}
.fa-arrow-down{
  font-size: 5em;
 
  color:#b5914d;
}
  .separator-text-2 {
    font-size: 1.8rem;
    font-weight: bold;
    color:#ffffff ;

    padding: 0 10px; /* Ajusta el espaciado alrededor del texto */
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0; /* Inicialmente establecemos la opacidad a 0 */
    animation: fadeIn 3s forwards; 
    
}
.tucasa{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 35vh;
    background-image: url('../assets/images/tucasa.webp');
    background-repeat: repeat-x;
    background-position: center center;
    background-attachment: fixed;
    background-color: #000000; 
    background-size: cover;
}
@keyframes fadeIn {
    from {
      opacity: 0; /* La opacidad inicial es 0 */
    }
    to {
      opacity: 1; /* La opacidad final es 1 */
    }
  }

p{
  margin: 0;
}
.div-precio{
  color: #ffffff;
  background-color: #000000;
  opacity: 0.4;
  padding: 2em;
  text-align: center;
}
