
.container-sm{
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
    

}
.nav-bar{
    background-color: transparent !important;
}
.bg-custom-color{
    background-color: transparent !important;
}
.nav-item{
    padding: 1em;
}
.nav-link{
    color: aliceblue;
}
.nav-link active{
    color: rgb(98, 182, 255);
}
.navbar-toggler-icon{
    font-size: x-large
}
.navbar-collapse{
    text-align: right;
    color: white;
    background-color: transparent !important;
}
.navbar-toggler{
    background: radial-gradient(circle, #1e5c8f, #2f68a0,#1e4b72);
}
.custom-logo {
    width: 100px; 
}
@media (min-width:1170px){
    .custom-logo{
        width: 140px;
    }
}
.dropdown-menu{
    background-color:transparent !important;
    border: none;
}
.dropdown-item{
    color: white;
    background: #081E43;

}