
.container-sm{
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
    
}
.bg-custom-color{
    background-color: #b5914d;
}
.nav-item{
    padding: 1em;
}
.nav-link{
    color: aliceblue;
}
.nav-link active{
    color: aliceblue;
}
.navbar-toggler-icon{
    font-size: x-large
}
.navbar-collapse{
    color: white;
    background-color: #b5914d;
}
.custom-logo {
    width: 100px; 
}
@media (min-width:1170px){
    .custom-logo{
        width: 140px;
    }
}
.dropdown-menu{
    background-color:#b5914d;
    border: none;
}
.dropdown-item{
    color: white;
}
