.footer-modern {
    background-color: #1a1a1a;
    color: white;
}

.footer-modern .footer-title {
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.footer-modern .footer-links li {
    margin-bottom: 0.5rem;
}

.footer-modern .footer-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.footer-modern .footer-links li a:hover {
    color: #ffc107;
}

.footer-social-icons a,
.whatsapp-icon {
    font-size: 1.6rem; /* mismo tamaño para todos */
    margin-right: 15px;
    color: white !important; /* color base igual que los demás */
    transition: transform 0.3s, color 0.3s;
}

.footer-social-icons a:hover {
    color: #002c6e;
    transform: scale(1.2);
}

.whatsapp-icon:hover {
    color: #25d366; /* solo cambia al pasar el mouse */
    transform: scale(1.2); /* mismo efecto hover que los otros */
}
.whatsapp-icon {
    display: inline-block;
    font-size: 2.2rem;
    margin-top: 0.5rem;
    color: #ffffff !important;
    transition: transform 0.3s;
}

/* .whatsapp-icon:hover {
    transform: scale(1.3);
} */

.footer-scroll-to-top {
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    transition: transform 0.3s;
}

.footer-scroll-to-top:hover {
    transform: scale(1.2);
}

.footer-logo img {
    max-width: 120px;
}

@media (max-width:768px) {
    .footer-modern .footer-logo img {
        max-width: 100px;
    }

    .footer-modern .footer-social-icons a {
        font-size: 1.5rem;
    }

    .whatsapp-icon {
        font-size: 1.6rem;
    }
}
