*{
  margin: 0;
  padding: 0;
}

body, html {
  background: radial-gradient(circle, #0F436E, #22396F,#081E43);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../src/assets/font/Montserrat-VariableFont_wght.ttf') format('truetype'); /* Ajusta la ruta según la ubicación de tu archivo de fuente */
  font-weight: normal;
  font-style: normal;
}