

.img-plano{
    max-width: 300px;
}

@media (max-width:320px){
    .img-plano{
        width: 180px;
    }
}
/* @media (min-width:1024px){
    .img-plano{
        width: 380px;
    }
} */

.p-accion{
    font-size:2em;
    font-weight: 500;
}
.p-pdf{
    font-size: 1em;
}
/* .imagenes-plano{
    display: flex;
} */