.slider {
    width: 100%;
    padding: 0;
    margin: 0;
}

.slider img {
    width: 100%;
    height: 80vh;
    object-fit: cover; 

}
.carousel-caption{
  bottom: 10.25rem;
}

@media (max-width: 580px) {
    .slider img {
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .text-overlay {
    width: 100%;
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5); 
    text-align: center;

  }
  
  .text-overlay h3,
  .text-overlay p {
    margin: 0;
  }

/* CSS para el carrusel en pantallas más grandes */
@media (min-width: 1420px) {
  .carousel-models {
    max-width: 80%; /* Establece un ancho máximo para el carrusel */
    margin: 0 auto; /* Centra el carrusel en la pantalla */
  }
}

/* CSS para el carrusel en pantallas más pequeñas */
@media (max-width: 1419px) {
  .carousel-models {
    max-width: 100%; /* Usa el ancho completo en pantallas más pequeñas */
  }
}
